<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Edit Plant</title>
  </head>
  <body>
    <h1>Edit <%= plant.name %></h1>
    <form action="/plants/<%= plant._id %>?_method=PUT" method="POST">
      <label
        >Name <input name="name" value="<%= plant.name %>" required /></label
      ><br />
      <label
        >Description
        <textarea name="description" required>
<%= plant.description %></textarea
        ></label
      ><br />
      <label>Image URL <input name="image" value="<%= plant.image %>" /></label
      ><br />
      <button type="submit">Save</button>
      <a href="/plants/<%= plant._id %>">Cancel</a>
    </form>
  </body>
</html>
