<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= plant.name %></title>
  </head>
  <body>
    <h1><%= plant.name %></h1>
    <% if (plant.image) { %>
    <img
      src="<%= plant.image %>"
      alt="<%= plant.name %>"
      style="max-width: 400px"
    />
    <% } %>
    <p><%= plant.description %></p>
    <a href="/plants/<%= plant._id %>/edit">Edit</a>
    <form
      action="/plants/<%= plant._id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
    <a href="/plants">Back</a>
  </body>
</html>
